In [1]:
import pandas as pd

# Reading an Excel file into a DataFrame (df)
data = pd.read_csv("employees.csv")
print(data)

   employeeNumber   lastName firstName  salery gender
0            1002     Murphy     Diane   50000      f
1            1056  Patterson      Mary   55000      f
2            1076   Firrelli      Jeff    9273      f
3            1088  Patterson   William    4871      m
4            1102     Bondur      john    4408      m
5            1143        Bow   Anthony   20000      m
6            1165   Jennings    Leslie    2291      f
7            1166   Thompson    Leslie    4065      f
8            1188   Firrelli     Julie    2173      f

In [2]:
data["Bonus"]=(data["salery"]/100)*20
print(data)

   employeeNumber   lastName firstName  salery gender    Bonus
0            1002     Murphy     Diane   50000      f  10000.0
1            1056  Patterson      Mary   55000      f  11000.0
2            1076   Firrelli      Jeff    9273      f   1854.6
3            1088  Patterson   William    4871      m    974.2
4            1102     Bondur      john    4408      m    881.6
5            1143        Bow   Anthony   20000      m   4000.0
6            1165   Jennings    Leslie    2291      f    458.2
7            1166   Thompson    Leslie    4065      f    813.0
8            1188   Firrelli     Julie    2173      f    434.6

In [5]:
import pandas as pd

# Creating a DataFrame with a column named 'months'
data3 = {
    'months': ['jan', 'feb', 'march', 'aprl', 'may']
}
a = pd.DataFrame(data3)

# Printing the original DataFrame
print(a)

# Define a function 'extract' to take the first three characters of a string
def extract(value):
    return value[0:3]

# Adding a new column 'Short_months' by applying the 'extract' function to 'months' column
a["Short_months"] = a["months"].map(extract)

# Printing the DataFrame with the new 'Short_months' column
print(a)

  months
0    jan
1    feb
2  march
3   aprl
4    may
  months Short_months
0    jan          jan
1    feb          feb
2  march          mar
3   aprl          apr
4    may          may