In [1]:
import pandas as pd

# Reading an Excel file into a DataFrame (df)
df = pd.read_excel("ESD.xlsx")
print(df)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date
0       0.15  United States    Seattle 2021-10-16
1       0.00          China  Chongqing        NaT
2       0.20  United States    Chicago        NaT
3       0.07  United States    Chicago        NaT
4       0.00  United States    Phoenix        NaT
..       ...            ...        ...        ...
995     0.00  United States   Columbus        NaT
996     0.00          China    Chengdu 2018-01-08
997     0.15  United States      Miami        NaT
998     0.00          China    Chengdu        NaT
999     0.31  United States      Miami        NaT

[1000 rows x 14 columns]

In [2]:
# Adding a new column "GetBonus" based on the "Bonus %" column
# If "Bonus %" is 0, set "GetBonus" to "no bonus"
df.loc[df["Bonus %"] == 0, "GetBonus"] = "no bonus"

# If "Bonus %" is greater than 0, set "GetBonus" to "bonus"
df.loc[df["Bonus %"] > 0, "GetBonus"] = "bonus"

print(df)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date  GetBonus
0       0.15  United States    Seattle 2021-10-16     bonus
1       0.00          China  Chongqing        NaT  no bonus
2       0.20  United States    Chicago        NaT     bonus
3       0.07  United States    Chicago        NaT     bonus
4       0.00  United States    Phoenix        NaT  no bonus
..       ...            ...        ...        ...       ...
995     0.00  United States   Columbus        NaT  no bonus
996     0.00          China    Chengdu 2018-01-08  no bonus
997     0.15  United States      Miami        NaT     bonus
998     0.00          China    Chengdu        NaT  no bonus
999     0.31  United States      Miami        NaT     bonus

[1000 rows x 15 columns]

In [3]:
print(df.head())

     EEID        Full Name                 Job Title Department  \
0  E02387      Emily Davis                Sr. Manger         IT
1  E04105    Theodore Dinh       Technical Architect         IT
2  E02572     Luna Sanders                  Director    Finance
3  E02832  Penelope Jordan  Computer Systems Manager         IT
4  E01639        Austin Vo               Sr. Analyst    Finance

            Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0  Research & Development  Female      Black   55 2016-04-08         141604
1           Manufacturing    Male      Asian   59 1997-11-29          99975
2     Speciality Products  Female  Caucasian   50 2006-10-26         163099
3           Manufacturing  Female  Caucasian   26 2019-09-27          84913
4           Manufacturing    Male      Asian   55 1995-11-20          95409

   Bonus %        Country       City  Exit Date  GetBonus
0     0.15  United States    Seattle 2021-10-16     bonus
1     0.00          China  Chongqing        NaT  no bonus
2     0.20  United States    Chicago        NaT     bonus
3     0.07  United States    Chicago        NaT     bonus
4     0.00  United States    Phoenix        NaT  no bonus

In [4]:
# Reading a CSV file into another DataFrame (data)
data = pd.read_csv("employees.csv")
print(data)

   employeeNumber   lastName firstName  salery gender
0            1002     Murphy     Diane   50000      f
1            1056  Patterson      Mary   55000      f
2            1076   Firrelli      Jeff    9273      f
3            1088  Patterson   William    4871      m
4            1102     Bondur      john    4408      m
5            1143        Bow   Anthony   20000      m
6            1165   Jennings    Leslie    2291      f
7            1166   Thompson    Leslie    4065      f
8            1188   Firrelli     Julie    2173      f

In [5]:
# Creating a new column "Full name" by concatenating "firstName" and "lastName" in uppercase
data["Full name"] = data["firstName"].str.upper() + " " + data["lastName"]
print(data)

   employeeNumber   lastName firstName  salery gender          Full name
0            1002     Murphy     Diane   50000      f       DIANE Murphy
1            1056  Patterson      Mary   55000      f     MARY Patterson
2            1076   Firrelli      Jeff    9273      f      JEFF Firrelli
3            1088  Patterson   William    4871      m  WILLIAM Patterson
4            1102     Bondur      john    4408      m        JOHN Bondur
5            1143        Bow   Anthony   20000      m        ANTHONY Bow
6            1165   Jennings    Leslie    2291      f    LESLIE Jennings
7            1166   Thompson    Leslie    4065      f    LESLIE Thompson
8            1188   Firrelli     Julie    2173      f     JULIE Firrelli

In [6]:

# Creating a new column "Full name" by concatenating "firstName" and "lastName" with capitalized first letters
data["Full name"] = data["firstName"].str.capitalize() + " " + data["lastName"].str.capitalize()
print(data)

   employeeNumber   lastName firstName  salery gender          Full name
0            1002     Murphy     Diane   50000      f       Diane Murphy
1            1056  Patterson      Mary   55000      f     Mary Patterson
2            1076   Firrelli      Jeff    9273      f      Jeff Firrelli
3            1088  Patterson   William    4871      m  William Patterson
4            1102     Bondur      john    4408      m        John Bondur
5            1143        Bow   Anthony   20000      m        Anthony Bow
6            1165   Jennings    Leslie    2291      f    Leslie Jennings
7            1166   Thompson    Leslie    4065      f    Leslie Thompson
8            1188   Firrelli     Julie    2173      f     Julie Firrelli