In [3]:
import pandas as pd
data= pd.read_excel("ESD.xlsx")
print(data.head(10))

     EEID        Full Name                 Job Title  Department  \
0  E02387      Emily Davis                Sr. Manger          IT
1  E04105    Theodore Dinh       Technical Architect          IT
2  E02572     Luna Sanders                  Director     Finance
3  E02832  Penelope Jordan  Computer Systems Manager          IT
4  E01639        Austin Vo               Sr. Analyst     Finance
5  E00644     Joshua Gupta    Account Representative       Sales
6  E01550      Ruby Barnes                   Manager          IT
7  E04332      Luke Martin                   Analyst     Finance
8  E04533    Easton Bailey                   Manager  Accounting
9  E03838  Madeline Walker               Sr. Analyst     Finance

            Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0  Research & Development  Female      Black   55 2016-04-08         141604
1           Manufacturing    Male      Asian   59 1997-11-29          99975
2     Speciality Products  Female  Caucasian   50 2006-10-26         163099
3           Manufacturing  Female  Caucasian   26 2019-09-27          84913
4           Manufacturing    Male      Asian   55 1995-11-20          95409
5               Corporate    Male      Asian   57 2017-01-24          50994
6               Corporate  Female  Caucasian   27 2020-07-01         119746
7           Manufacturing    Male      Black   25 2020-05-16          41336
8           Manufacturing    Male  Caucasian   29 2019-01-25         113527
9     Speciality Products  Female  Caucasian   34 2018-06-13          77203

   Bonus %        Country       City  Exit Date
0     0.15  United States    Seattle 2021-10-16
1     0.00          China  Chongqing        NaT
2     0.20  United States    Chicago        NaT
3     0.07  United States    Chicago        NaT
4     0.00  United States    Phoenix        NaT
5     0.00          China  Chongqing        NaT
6     0.10  United States    Phoenix        NaT
7     0.00  United States      Miami 2021-05-20
8     0.06  United States     Austin        NaT
9     0.00  United States    Chicago        NaT

In [13]:
gp=data.groupby(["Department","Gender"]).agg({"EEID":"count"})
print(gp)

                        EEID
Department      Gender
Accounting      Female    53
                Male      43
Engineering     Female    80
                Male      78
Finance         Female    69
                Male      51
Human Resources Female    64
                Male      61
IT              Female   119
                Male     122
Marketing       Female    57
                Male      63
Sales           Female    76
                Male      64

In [20]:
gp=data.groupby(["Country"]).agg({"Annual Salary":"mean"})
print(gp)

               Annual Salary
Country
Brazil         112324.834532
China          113823.532110
United States  113204.794712

In [21]:
gp=data.groupby(["Country","Gender"]).agg({"Annual Salary":"mean"})
print(gp)

                      Annual Salary
Country       Gender
Brazil        Female  111343.733333
              Male    113474.562500
China         Female  113904.908257
              Male    113742.155963
United States Female  112012.964072
              Male    114493.051780

In [22]:
gp=data.groupby(["Country"]).agg({"Annual Salary":"max"})
print(gp)

               Annual Salary
Country
Brazil                258426
China                 257194
United States         258498

In [29]:
gp=data.groupby(["Country","Gender"]).agg({"Annual Salary":"max","Age":"min"})
print(gp)

                      Annual Salary  Age
Country       Gender
Brazil        Female         258426   25
              Male           249506   26
China         Female         249686   25
              Male           257194   25
United States Female         258498   25
              Male           258081   25