In [47]:
import pandas as pd
data=pd.read_csv("employees.csv")
print(data)

   employeeNumber   lastName firstName   salery
0            1002     Murphy     Diane  50000.0
1            1056  Patterson      Mary  55000.0
2            1076   Firrelli      Jeff   9273.0
3            1088  Patterson   William   4871.0
4            1102     Bondur    Gerard   4408.0
5            1143        Bow   Anthony      NaN
6            1165   Jennings    Leslie   2291.0
7            1166   Thompson    Leslie   4065.0
8            1188   Firrelli     Julie   2173.0

In [27]:
print(data.isnull())

   employeeNumber  lastName  firstName  salery
0           False     False      False   False
1           False     False      False   False
2           False     False      False   False
3           False     False      False   False
4           False     False      False   False
5           False     False      False    True
6           False     False      False   False
7           False     False      False   False
8           False     False      False   False

In [28]:
print(data.isnull().sum())

employeeNumber    0
lastName          0
firstName         0
salery            1
dtype: int64

In [29]:
print(data.dropna())

   employeeNumber   lastName firstName   salery
0            1002     Murphy     Diane  50000.0
1            1056  Patterson      Mary  55000.0
2            1076   Firrelli      Jeff   9273.0
3            1088  Patterson   William   4871.0
4            1102     Bondur    Gerard   4408.0
6            1165   Jennings    Leslie   2291.0
7            1166   Thompson    Leslie   4065.0
8            1188   Firrelli     Julie   2173.0

In [30]:
print(data)

   employeeNumber   lastName firstName   salery
0            1002     Murphy     Diane  50000.0
1            1056  Patterson      Mary  55000.0
2            1076   Firrelli      Jeff   9273.0
3            1088  Patterson   William   4871.0
4            1102     Bondur    Gerard   4408.0
5            1143        Bow   Anthony      NaN
6            1165   Jennings    Leslie   2291.0
7            1166   Thompson    Leslie   4065.0
8            1188   Firrelli     Julie   2173.0

In [44]:

import numpy as np

print(data.replace(np.nan,30000))

   employeeNumber   lastName firstName   salery
0            1002     Murphy     Diane  50000.0
1            1056  Patterson      Mary  55000.0
2            1076   Firrelli      Jeff   9273.0
3            1088  Patterson   William   4871.0
4            1102     Bondur    Gerard   4408.0
5            1143        Bow   Anthony  30000.0
6            1165   Jennings    Leslie   2291.0
7            1166   Thompson    Leslie   4065.0
8            1188   Firrelli     Julie   2173.0