In [4]:
import pandas as pd
data=pd.read_csv("employees.csv")
print(data)

   employeeNumber   lastName firstName   salery
0            1002     Murphy     Diane  50000.0
1            1056  Patterson      Mary  55000.0
2            1076   Firrelli      Jeff   9273.0
3            1088  Patterson   William   4871.0
4            1102     Bondur       NaN   4408.0
5            1143        Bow   Anthony      NaN
6            1165   Jennings    Leslie   2291.0
7            1166   Thompson    Leslie   4065.0
8            1188   Firrelli     Julie   2173.0

In [5]:
print(data.isnull())

   employeeNumber  lastName  firstName  salery
0           False     False      False   False
1           False     False      False   False
2           False     False      False   False
3           False     False      False   False
4           False     False       True   False
5           False     False      False    True
6           False     False      False   False
7           False     False      False   False
8           False     False      False   False

In [6]:
print(data.isnull().sum())

employeeNumber    0
lastName          0
firstName         1
salery            1
dtype: int64

In [7]:
print(data.dropna())

   employeeNumber   lastName firstName   salery
0            1002     Murphy     Diane  50000.0
1            1056  Patterson      Mary  55000.0
2            1076   Firrelli      Jeff   9273.0
3            1088  Patterson   William   4871.0
6            1165   Jennings    Leslie   2291.0
7            1166   Thompson    Leslie   4065.0
8            1188   Firrelli     Julie   2173.0

In [8]:
print(data)

   employeeNumber   lastName firstName   salery
0            1002     Murphy     Diane  50000.0
1            1056  Patterson      Mary  55000.0
2            1076   Firrelli      Jeff   9273.0
3            1088  Patterson   William   4871.0
4            1102     Bondur       NaN   4408.0
5            1143        Bow   Anthony      NaN
6            1165   Jennings    Leslie   2291.0
7            1166   Thompson    Leslie   4065.0
8            1188   Firrelli     Julie   2173.0

In [21]:
import pandas as pd
data=pd.read_csv("employees.csv")
print(data)
import numpy as np

print(data.replace(np.nan,30000))

   employeeNumber   lastName firstName   salery gender
0            1002     Murphy     Diane  50000.0      f
1            1056  Patterson      Mary  55000.0      f
2            1076   Firrelli      Jeff   9273.0    NaN
3            1088  Patterson   William   4871.0      m
4            1102     Bondur       NaN   4408.0      m
5            1143        Bow   Anthony      NaN    NaN
6            1165   Jennings    Leslie   2291.0      f
7            1166   Thompson    Leslie   4065.0      f
8            1188   Firrelli     Julie   2173.0      f
   employeeNumber   lastName firstName   salery gender
0            1002     Murphy     Diane  50000.0      f
1            1056  Patterson      Mary  55000.0      f
2            1076   Firrelli      Jeff   9273.0  30000
3            1088  Patterson   William   4871.0      m
4            1102     Bondur     30000   4408.0      m
5            1143        Bow   Anthony  30000.0  30000
6            1165   Jennings    Leslie   2291.0      f
7            1166   Thompson    Leslie   4065.0      f
8            1188   Firrelli     Julie   2173.0      f

In [22]:
data["firstName"]=data["firstName"].replace((np.nan,"john"))
print(data)

   employeeNumber   lastName firstName   salery gender
0            1002     Murphy     Diane  50000.0      f
1            1056  Patterson      Mary  55000.0      f
2            1076   Firrelli      Jeff   9273.0    NaN
3            1088  Patterson   William   4871.0      m
4            1102     Bondur   William   4408.0      m
5            1143        Bow   Anthony      NaN    NaN
6            1165   Jennings    Leslie   2291.0      f
7            1166   Thompson    Leslie   4065.0      f
8            1188   Firrelli     Julie   2173.0      f

In [23]:
data["salery"]=data["salery"].replace((np.nan,40000))
print(data)
print(data["salery"].mean)

   employeeNumber   lastName firstName   salery gender
0            1002     Murphy     Diane  50000.0      f
1            1056  Patterson      Mary  55000.0      f
2            1076   Firrelli      Jeff   9273.0    NaN
3            1088  Patterson   William   4871.0      m
4            1102     Bondur   William   4408.0      m
5            1143        Bow   Anthony   4408.0    NaN
6            1165   Jennings    Leslie   2291.0      f
7            1166   Thompson    Leslie   4065.0      f
8            1188   Firrelli     Julie   2173.0      f
<bound method NDFrame._add_numeric_operations.<locals>.mean of 0    50000.0
1    55000.0
2     9273.0
3     4871.0
4     4408.0
5     4408.0
6     2291.0
7     4065.0
8     2173.0
Name: salery, dtype: float64>

In [24]:
print(data["salery"].mean)

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0    50000.0
1    55000.0
2     9273.0
3     4871.0
4     4408.0
5     4408.0
6     2291.0
7     4065.0
8     2173.0
Name: salery, dtype: float64>

In [25]:
print(data)

   employeeNumber   lastName firstName   salery gender
0            1002     Murphy     Diane  50000.0      f
1            1056  Patterson      Mary  55000.0      f
2            1076   Firrelli      Jeff   9273.0    NaN
3            1088  Patterson   William   4871.0      m
4            1102     Bondur   William   4408.0      m
5            1143        Bow   Anthony   4408.0    NaN
6            1165   Jennings    Leslie   2291.0      f
7            1166   Thompson    Leslie   4065.0      f
8            1188   Firrelli     Julie   2173.0      f

In [26]:
print(data.fillna(method="bfill"))

   employeeNumber   lastName firstName   salery gender
0            1002     Murphy     Diane  50000.0      f
1            1056  Patterson      Mary  55000.0      f
2            1076   Firrelli      Jeff   9273.0      m
3            1088  Patterson   William   4871.0      m
4            1102     Bondur   William   4408.0      m
5            1143        Bow   Anthony   4408.0      f
6            1165   Jennings    Leslie   2291.0      f
7            1166   Thompson    Leslie   4065.0      f
8            1188   Firrelli     Julie   2173.0      f

In [29]:
print(data.fillna(method="ffill"))

   employeeNumber   lastName firstName   salery gender
0            1002     Murphy     Diane  50000.0      f
1            1056  Patterson      Mary  55000.0      f
2            1076   Firrelli      Jeff   9273.0      f
3            1088  Patterson   William   4871.0      m
4            1102     Bondur   William   4408.0      m
5            1143        Bow   Anthony   4408.0      m
6            1165   Jennings    Leslie   2291.0      f
7            1166   Thompson    Leslie   4065.0      f
8            1188   Firrelli     Julie   2173.0      f

In [28]:
print(data.fillna("hi"))

   employeeNumber   lastName firstName   salery gender
0            1002     Murphy     Diane  50000.0      f
1            1056  Patterson      Mary  55000.0      f
2            1076   Firrelli      Jeff   9273.0     hi
3            1088  Patterson   William   4871.0      m
4            1102     Bondur   William   4408.0      m
5            1143        Bow   Anthony   4408.0     hi
6            1165   Jennings    Leslie   2291.0      f
7            1166   Thompson    Leslie   4065.0      f
8            1188   Firrelli     Julie   2173.0      f