In [24]:
import pandas as pd
data1={"Emp id":["E01","E02","E03","E04"],
       "Name":["ram","shyam","rahul","mohan"],
       "Age":[34,54,32,26]}

data2={"Emp id":["E01","E02","E07","E08"],
       "salary":[23000,45000,5600,70000],
       "Age":[34,54,32,26]}

df1=(pd.DataFrame(data1))
print(df1)
df2=(pd.DataFrame(data2)) 
print(df2)

  Emp id   Name  Age
0    E01    ram   34
1    E02  shyam   54
2    E03  rahul   32
3    E04  mohan   26
  Emp id  salary  Age
0    E01   23000   34
1    E02   45000   54
2    E07    5600   32
3    E08   70000   26

In [28]:
print(pd.merge(left= df1,right=df2,on="Emp id", how="left"))

  Emp id   Name  Age_x   salary  Age_y
0    E01    ram     34  23000.0   34.0
1    E02  shyam     54  45000.0   54.0
2    E03  rahul     32      NaN    NaN
3    E04  mohan     26      NaN    NaN

In [29]:
print(pd.merge(left= df1,right=df2,on="Emp id", how="right"))

  Emp id   Name  Age_x  salary  Age_y
0    E01    ram   34.0   23000     34
1    E02  shyam   54.0   45000     54
2    E07    NaN    NaN    5600     32
3    E08    NaN    NaN   70000     26

In [41]:
import pandas as pd

data1 = {"Emp id": ["E01", "E02", "E03", "E04"],
         "Name": ["ram", "shyam", "rahul", "mohan"],
         "Age": [34, 54, 32, 26]}

data2 = {"Emp id": ["E01", "E02", "E03", "E0"],
         "salary": [23000, 45000, 5600, 70000],
         "Age": [34, 54, 32, 26]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merge data1 and data2 on 'Emp id'
result = pd.merge(df1, df2, on='Emp id')

# Display the result
print(result)

  Emp id   Name  Age_x  salary  Age_y
0    E01    ram     34   23000     34
1    E02  shyam     54   45000     54
2    E03  rahul     32    5600     32

In [42]:
import pandas as pd

data1 = {"Emp id": ["E01", "E02", "E03", "E04"],
         "Name": ["ram", "shyam", "rahul", "mohan"],
         "Age": [34, 54, 32, 26]}

data2 = {"Emp id": ["E05", "E06", "E07", "E08"],
         "Name": ["pappu", "achhotu", "ankit", "sonu"],
         "Age": [34, 34, 32, 36]}
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)

In [43]:
print(pd.concat([df1,df2]))

  Emp id     Name  Age
0    E01      ram   34
1    E02    shyam   54
2    E03    rahul   32
3    E04    mohan   26
0    E05    pappu   34
1    E06  achhotu   34
2    E07    ankit   32
3    E08     sonu   36