• Pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with "relational" or "labeled" data both easy and intuitive.

Here are just a few of the things that pandas does well: 
It has functions for analyzing, cleaning, exploring, and manipulating data.

Name Reference: The name "Pandas" is a combination of "Panel Data" and "Python Data Analysis."

Creation: Pandas was created by Wes McKinney in 2008. Wes McKinney is a software developer and data analyst who saw the need for a powerful and efficient tool for data manipulation and analysis in Python.

In [ ]:
# Easy handling of missing data.
# Size mutability: columns can be inserted and deleted from DataFrame and higher dimensional objects.
# • Automatic and explicit data alignment: objects can be explicitly aligned to a set of labels, or the user can simply ignore the labels and let Series, DataFrame tc.

In [ ]:
# • Automatically align the data for you in computations.
# • Powerful, flexible group by functionality.
# .
# Intelligent label-based slicing, fancy indexing, and subsetting of large data sets.
# Intuitive merging and joining data sets.
# Flexible reshaping and pivoting of data sets.

In [ ]:
# Pandas is an open-source data manipulation and analysis library for Python. It provides high-performance, easy-to-use data structures, and data analysis tools for handling and manipulating structured data. The primary data structures in Pandas are the **Series** and **DataFrame**.

# - **Series:** A one-dimensional labeled array capable of holding any data type. It is similar to a column in a spreadsheet or a one-dimensional NumPy array.

# - **DataFrame:** A two-dimensional table with rows and columns, similar to a spreadsheet or a SQL table. It is a primary data structure for most Pandas operations and is highly versatile for data manipulation and analysis.

# Here are some key features and functionalities of Pandas:

# 1. **Data Handling:** Pandas makes it easy to import, clean, and manipulate data. It provides tools for reading and writing data in various formats, including CSV, Excel, SQL databases, and more.

# 2. **Data Exploration and Analysis:** Pandas offers a wide range of functions for exploring and analyzing data. This includes descriptive statistics, grouping and aggregation, merging and joining datasets, and handling missing data.

# 3. **Indexing and Selection:** Pandas provides powerful indexing capabilities, allowing users to slice, filter, and select data based on various conditions. This makes it easy to work with subsets of data.

# 4. **Time Series Data:** Pandas has excellent support for time-series data, making it a popular choice for analyzing time-based datasets.

# 5. **Integration with Other Libraries:** Pandas integrates well with other Python libraries, such as NumPy, Matplotlib, and scikit-learn, providing a comprehensive ecosystem for data analysis, visualization, and machine learning.

# 6. **Flexible Handling of Missing Data:** Pandas provides tools for handling missing or incomplete data, including options for filling, dropping, or interpolating missing values.

# 7. **Wide Range of Operations:** Users can perform a variety of operations on Pandas data structures, including arithmetic operations, mathematical functions, and custom transformations.

# 8. **Community and Documentation:** Pandas has a vibrant community, and extensive documentation is available, making it easy for users to get started and find help when needed.

# Pandas is widely used in various fields, including data science, finance, economics, and research, due to its efficiency and versatility in handling and analyzing structured data in Python.

In [1]:
import pandas as pd

# Data dictionary
data = {
    "name": ["john", "peter", "lisa"],
    "age": [24, 54, 23],
    "salary": [10000, 23000, 43000]
}

# Creating a DataFrame from the data dictionary
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

    name  age  salary
0   john   24   10000
1  peter   54   23000
2   lisa   23   43000

In [18]:
import pandas as pd

# Reading data from a CSV file into a DataFrame
data = pd.read_csv("employees.csv")

# Printing the DataFrame
print(data)

    employeeNumber   lastName firstName extension  \
0             1002     Murphy     Diane     x5800
1             1056  Patterson      Mary     x4611
2             1076   Firrelli      Jeff     x9273
3             1088  Patterson   William     x4871
4             1102     Bondur    Gerard     x5408
5             1143        Bow   Anthony     x5428
6             1165   Jennings    Leslie     x3291
7             1166   Thompson    Leslie     x4065
8             1188   Firrelli     Julie     x2173
9             1216  Patterson     Steve     x4334
10            1286      Tseng  Foon Yue     x2248
11            1323     Vanauf    George     x4102
12            1337     Bondur      Loui     x6493
13            1370  Hernandez    Gerard     x2028
14            1401   Castillo    Pamela     x2759
15            1501       Bott     Larry     x2311
16            1504      Jones     Barry      x102
17            1611     Fixter      Andy      x101
18            1612      Marsh     Peter      x102
19            1619       King       Tom      x103
20            1621      Nishi      Mami      x101
21            1625       Kato   Yoshimi      x102
22            1702     Gerard    Martin     x2312

                              email  officeCode  reportsTo  \
0      dmurphy@classicmodelcars.com           1        NaN
1    mpatterso@classicmodelcars.com           1     1002.0
2    jfirrelli@classicmodelcars.com           1     1002.0
3   wpatterson@classicmodelcars.com           6     1056.0
4      gbondur@classicmodelcars.com           4     1056.0
5         abow@classicmodelcars.com           1     1056.0
6    ljennings@classicmodelcars.com           1     1143.0
7    lthompson@classicmodelcars.com           1     1143.0
8    jfirrelli@classicmodelcars.com           2     1143.0
9   spatterson@classicmodelcars.com           2     1143.0
10      ftseng@classicmodelcars.com           3     1143.0
11     gvanauf@classicmodelcars.com           3     1143.0
12     lbondur@classicmodelcars.com           4     1102.0
13   ghernande@classicmodelcars.com           4     1102.0
14   pcastillo@classicmodelcars.com           4     1102.0
15       lbott@classicmodelcars.com           7     1102.0
16      bjones@classicmodelcars.com           7     1102.0
17     afixter@classicmodelcars.com           6     1088.0
18      pmarsh@classicmodelcars.com           6     1088.0
19       tking@classicmodelcars.com           6     1088.0
20      mnishi@classicmodelcars.com           5     1056.0
21       ykato@classicmodelcars.com           5     1621.0
22     mgerard@classicmodelcars.com           4     1102.0

                jobTitle
0              President
1               VP Sales
2           VP Marketing
3   Sales Manager (APAC)
4    Sale Manager (EMEA)
5     Sales Manager (NA)
6              Sales Rep
7              Sales Rep
8              Sales Rep
9              Sales Rep
10             Sales Rep
11             Sales Rep
12             Sales Rep
13             Sales Rep
14             Sales Rep
15             Sales Rep
16             Sales Rep
17             Sales Rep
18             Sales Rep
19             Sales Rep
20             Sales Rep
21             Sales Rep
22             Sales Rep

In [2]:
import pandas as pd

# Reading data from an Excel file into a DataFrame
data = pd.read_excel("expense3.xlsx")

# Printing the DataFrame
print(data)

   Client ID               Name  Age     Sex  Location ID Joined Bank  \
0   PKR81288      Raymond Mills   24    Male        34324  2019-05-06
1   PKR65833      Julia Spencer   23    Male        42205  2001-12-10
2   PKR47499     Stephen Murray   27  Female         7314  2010-01-25
3   PKR72498     Virginia Garza   40    Male        34594  1993-03-28
4   PKR60181    Melissa Sanders   46  Female        41269  2012-07-20
5   PKR78532      Samuel Hudson   23    Male        13204  2019-02-07
6   PKR95683  Timothy Alexander   46  Female        42910  2002-06-02
7   PKR40785        Carl Martin   78  Female         6127  2000-11-03
8   PKR13570         Philip Day   67  Female        32656  2015-04-07
9   PKR53299         Jason Sims   51    Male        28340  1995-11-20
10  PKR76263       Amy Martinez   55    Male        40459  2014-10-18
11  PKR56452     David Johnston   73  Female        25563  2005-09-12
12  PKR28766       Wayne Foster   45  Female        35687  2018-03-17
13  PKR17897       Carlos Moore   44  Female        19554  1996-01-02
14  PKR86325      Lisa Johnston   36    Male        33368  1994-06-05
15  PKR74197       Andrew Mills   55    Male        27913  1997-01-06
16  PKR28503       Jack Coleman   61  Female         9505  2014-06-22
17  PKR56539          Aaron Day   56  Female        36232  1994-01-19
18  PKR53604       Kevin Weaver   43  Female         6299  2019-03-31
19  PKR32064           Mary Fox   63  Female         7694  2009-03-09
20  PKR72934      Carlos Little   41    Male        38321  1998-04-03
21  PKR16101         Roger Boyd   58  Female        12772  2015-12-31
22  PKR74197       Andrew Mills   55    Male        27913  1997-01-06
23  PKR28503       Jack Coleman   61  Female         9505  2014-06-22
24  PKR56539          Aaron Day   56  Female        36232  1994-01-19
25  PKR53604       Kevin Weaver   43  Female         6299  2019-03-31
26  PKR32064           Mary Fox   63  Female         7694  2009-03-09
27  PKR72934      Carlos Little   41    Male        38321  1998-04-03
28  PKR16101         Roger Boyd   58  Female        12772  2015-12-31

     Banking Contact Nationality                 Occupation  \
0     Anthony Torres    American       Safety Technician IV
1   Jonathan Hawkins     African        Software Consultant
2      Anthony Berry    European         Help Desk Operator
3         Steve Diaz    American               Geologist II
4         Shawn Long    American        Assistant Professor
5     Douglas Tucker    American       Help Desk Technician
6     Douglas Tucker       Asian        Account Coordinator
7         Steve Diaz    European   Automation Specialist II
8       Bruce Butler       Asian  Software Test Engineer II
9          Joe Price    European              Geologist III
10    Adam Hernandez    European     Administrative Officer
11   Chris Armstrong    American  Database Administrator II
12       Joshua Ryan     African            Staff Scientist
13       Paul Larson    American               Programmer I
14   Mark Montgomery       Asian   Software Test Engineer I
15     Shawn Wallace    European                    Actuary
16     Ernest Rivera       Asian        Staff Accountant II
17   Gregory Simmons       Asian    Assistant Media Planner
18       Frank Brown    American         Staff Accountant I
19    Adam Hernandez  Australian       Compensation Analyst
20  Jonathan Hawkins    American                Geologist I
21    Adam Hernandez    European            Web Designer II
22     Shawn Wallace    European                    Actuary
23     Ernest Rivera       Asian        Staff Accountant II
24   Gregory Simmons       Asian    Assistant Media Planner
25       Frank Brown    American         Staff Accountant I
26    Adam Hernandez  Australian       Compensation Analyst
27  Jonathan Hawkins    American                Geologist I
28    Adam Hernandez    European            Web Designer II

   Investment Advisor Fee Structure Loyalty Classification  \
0         Victor Dean          High                   Jade
1       Jeremy Porter          High                   Jade
2       Ernest Knight          High                   Gold
3           Eric Shaw           Mid                 Silver
4           Kevin Kim           Mid               Platinum
5       Victor Rogers          High                 Silver
6   Eugene Cunningham          High                   Gold
7         Joe Carroll           Mid                   Gold
8       Steve Sanchez          High                 Silver
9         Joe Carroll           Mid                 Silver
10      Victor Rogers          High                   Jade
11  Eugene Cunningham           Mid                   Jade
12      Steve Sanchez           Low                 Silver
13   Lawrence Sanchez          High                   Jade
14      Ernest Knight          High               Platinum
15     Peter Castillo           Mid                 Silver
16   Lawrence Sanchez          High                 Silver
17   Victor Gutierrez           Low                   Jade
18     Daniel Carroll           Low                   Jade
19  Eugene Cunningham           Mid                   Jade
20      Carl Anderson           Low                   Jade
21      Nicholas Ward          High                   Jade
22     Peter Castillo           Mid                 Silver
23   Lawrence Sanchez          High                 Silver
24   Victor Gutierrez           Low                   Jade
25     Daniel Carroll           Low                   Jade
26  Eugene Cunningham           Mid                   Jade
27      Carl Anderson           Low                   Jade
28      Nicholas Ward          High                   Jade

   Banking Relationship  Estimated Income
0                Retail        75384.7686
1                Retail       289834.3140
2         Institutional       169935.2252
3         Institutional       356808.1125
4          Private Bank       130711.6800
5          Private Bank       118326.9600
6         Institutional        57336.4736
7                Retail        65125.7984
8          Private Bank        87849.4734
9         Institutional        65369.3600
10           Commercial        74966.5125
11           Commercial       111449.0562
12        Institutional       115637.1888
13           Commercial       124434.7776
14         Private Bank       260795.3376
15               Retail        78892.5201
16               Retail       257120.2197
17               Retail       145704.5538
18               Retail        34404.1600
19           Commercial       129060.8774
20               Retail       129981.3132
21         Private Bank       123545.4195
22               Retail        78892.5201
23               Retail       257120.2197
24               Retail       145704.5538
25               Retail        34404.1600
26           Commercial       129060.8774
27               Retail       129981.3132
28         Private Bank       123545.4195