• Pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with "relational" or "labeled" data both easy and intuitive.

Here are just a few of the things that pandas does well: 
It has functions for analyzing, cleaning, exploring, and manipulating data.

Name Reference: The name "Pandas" is a combination of "Panel Data" and "Python Data Analysis."

Creation: Pandas was created by Wes McKinney in 2008. Wes McKinney is a software developer and data analyst who saw the need for a powerful and efficient tool for data manipulation and analysis in Python.

In [ ]:
# Easy handling of missing data.
# Size mutability: columns can be inserted and deleted from DataFrame and higher dimensional objects.
# • Automatic and explicit data alignment: objects can be explicitly aligned to a set of labels, or the user can simply ignore the labels and let Series, DataFrame tc.

In [ ]:
# • Automatically align the data for you in computations.
# • Powerful, flexible group by functionality.
# .
# Intelligent label-based slicing, fancy indexing, and subsetting of large data sets.
# Intuitive merging and joining data sets.
# Flexible reshaping and pivoting of data sets.

In [ ]:
# Pandas is an open-source data manipulation and analysis library for Python. It provides high-performance, easy-to-use data structures, and data analysis tools for handling and manipulating structured data. The primary data structures in Pandas are the **Series** and **DataFrame**.

# - **Series:** A one-dimensional labeled array capable of holding any data type. It is similar to a column in a spreadsheet or a one-dimensional NumPy array.

# - **DataFrame:** A two-dimensional table with rows and columns, similar to a spreadsheet or a SQL table. It is a primary data structure for most Pandas operations and is highly versatile for data manipulation and analysis.

# Here are some key features and functionalities of Pandas:

# 1. **Data Handling:** Pandas makes it easy to import, clean, and manipulate data. It provides tools for reading and writing data in various formats, including CSV, Excel, SQL databases, and more.

# 2. **Data Exploration and Analysis:** Pandas offers a wide range of functions for exploring and analyzing data. This includes descriptive statistics, grouping and aggregation, merging and joining datasets, and handling missing data.

# 3. **Indexing and Selection:** Pandas provides powerful indexing capabilities, allowing users to slice, filter, and select data based on various conditions. This makes it easy to work with subsets of data.

# 4. **Time Series Data:** Pandas has excellent support for time-series data, making it a popular choice for analyzing time-based datasets.

# 5. **Integration with Other Libraries:** Pandas integrates well with other Python libraries, such as NumPy, Matplotlib, and scikit-learn, providing a comprehensive ecosystem for data analysis, visualization, and machine learning.

# 6. **Flexible Handling of Missing Data:** Pandas provides tools for handling missing or incomplete data, including options for filling, dropping, or interpolating missing values.

# 7. **Wide Range of Operations:** Users can perform a variety of operations on Pandas data structures, including arithmetic operations, mathematical functions, and custom transformations.

# 8. **Community and Documentation:** Pandas has a vibrant community, and extensive documentation is available, making it easy for users to get started and find help when needed.

# Pandas is widely used in various fields, including data science, finance, economics, and research, due to its efficiency and versatility in handling and analyzing structured data in Python.

In [3]:
import pandas as pd
data= {"name":["john","peter","lisa"],
       "age":[24,54,23],
       "sallery":[10000,23000,43000]}
df=pd.DataFrame(data)
print(df)

    name  age  sallery
0   john   24    10000
1  peter   54    23000
2   lisa   23    43000

In [18]:
data=pd.read_csv("employees.csv")
print(data)

    employeeNumber   lastName firstName extension  \
0             1002     Murphy     Diane     x5800
1             1056  Patterson      Mary     x4611
2             1076   Firrelli      Jeff     x9273
3             1088  Patterson   William     x4871
4             1102     Bondur    Gerard     x5408
5             1143        Bow   Anthony     x5428
6             1165   Jennings    Leslie     x3291
7             1166   Thompson    Leslie     x4065
8             1188   Firrelli     Julie     x2173
9             1216  Patterson     Steve     x4334
10            1286      Tseng  Foon Yue     x2248
11            1323     Vanauf    George     x4102
12            1337     Bondur      Loui     x6493
13            1370  Hernandez    Gerard     x2028
14            1401   Castillo    Pamela     x2759
15            1501       Bott     Larry     x2311
16            1504      Jones     Barry      x102
17            1611     Fixter      Andy      x101
18            1612      Marsh     Peter      x102
19            1619       King       Tom      x103
20            1621      Nishi      Mami      x101
21            1625       Kato   Yoshimi      x102
22            1702     Gerard    Martin     x2312

                              email  officeCode  reportsTo  \
0      dmurphy@classicmodelcars.com           1        NaN
1    mpatterso@classicmodelcars.com           1     1002.0
2    jfirrelli@classicmodelcars.com           1     1002.0
3   wpatterson@classicmodelcars.com           6     1056.0
4      gbondur@classicmodelcars.com           4     1056.0
5         abow@classicmodelcars.com           1     1056.0
6    ljennings@classicmodelcars.com           1     1143.0
7    lthompson@classicmodelcars.com           1     1143.0
8    jfirrelli@classicmodelcars.com           2     1143.0
9   spatterson@classicmodelcars.com           2     1143.0
10      ftseng@classicmodelcars.com           3     1143.0
11     gvanauf@classicmodelcars.com           3     1143.0
12     lbondur@classicmodelcars.com           4     1102.0
13   ghernande@classicmodelcars.com           4     1102.0
14   pcastillo@classicmodelcars.com           4     1102.0
15       lbott@classicmodelcars.com           7     1102.0
16      bjones@classicmodelcars.com           7     1102.0
17     afixter@classicmodelcars.com           6     1088.0
18      pmarsh@classicmodelcars.com           6     1088.0
19       tking@classicmodelcars.com           6     1088.0
20      mnishi@classicmodelcars.com           5     1056.0
21       ykato@classicmodelcars.com           5     1621.0
22     mgerard@classicmodelcars.com           4     1102.0

                jobTitle
0              President
1               VP Sales
2           VP Marketing
3   Sales Manager (APAC)
4    Sale Manager (EMEA)
5     Sales Manager (NA)
6              Sales Rep
7              Sales Rep
8              Sales Rep
9              Sales Rep
10             Sales Rep
11             Sales Rep
12             Sales Rep
13             Sales Rep
14             Sales Rep
15             Sales Rep
16             Sales Rep
17             Sales Rep
18             Sales Rep
19             Sales Rep
20             Sales Rep
21             Sales Rep
22             Sales Rep

In [20]:
data=pd.read_excel("expense3.xlsx")
print(data)

         Date    Category       Sub-Category   Amount Payment Mode
0  2023-01-01     Grocery             Grocery      30         Cash
1  2023-01-02        Food          Restaurant     890          UPI
2  2023-01-04         123              Zomato     257          NaN
3  2023-01-06  Essentials               Diary     120          UPI
4  2023-01-06  Essentials             Perfume    1500         Cash
5  2023-01-09     Grocery  Fruits and Veggies     456         Cash
6  2023-01-10       Bills          House Rent   16000          UPI
7  2023-01-10     Grocery      Tomato KetchUp      70          UPI
8  2023-01-12        Food                Chai      15          UPI
9  2023-01-15  Essentials      Salt and Sugar      50          NaN
10 2023-01-17     Grocery           Chocolate     100          UPI
11 2023-01-17        Food          Restaurant     780         Card
12 2023-01-18  Essentials            Food Oil     120          NaN
13 2023-01-18        Food              Zomato     230          UPI
14 2023-01-19     Grocery                Milk      26          UPI
15 2023-01-20  Essentials             Shampoo     780          UPI
16 2023-01-20  Essentials           Lunch Box     890         Cash
17 2023-01-21     Clothes               Dress    1000          NaN
18 2023-01-22     Clothes               Dress    1890          UPI
19 2023-01-23     Grocery      Bread and Milk      56         Cash
20 2023-01-24        Food  Fruits and Veggies     530         Cash
21 2023-01-26        Food                Chai      10          UPI
22 2023-01-26     Grocery               Maggi     140          UPI
23 2023-01-27        Food              Zomato     300          UPI
24 2023-01-27        Food                Chai      10          UPI
25 2023-01-28  Essentials           Bedsheets    1025         Cash
26 2023-01-29       Bills             Mobile     1650          UPI
27 2023-01-29     Grocery                Daal     150         Cash
28 2023-01-30       Bills            Cylinder    1074          UPI