exploring data

In [8]:
import pandas as pd
data=pd.read_excel("expense3.xlsx")
# print(data)
print(data.head(10))
print(data.tail(10))

        Date    Category       Sub-Category   Amount Payment Mode
0 2023-01-01     Grocery             Grocery      30         Cash
1 2023-01-02        Food          Restaurant     890          UPI
2 2023-01-04         123              Zomato     257          NaN
3 2023-01-06  Essentials               Diary     120          UPI
4 2023-01-06  Essentials             Perfume    1500         Cash
5 2023-01-09     Grocery  Fruits and Veggies     456         Cash
6 2023-01-10       Bills          House Rent   16000          UPI
7 2023-01-10     Grocery      Tomato KetchUp      70          UPI
8 2023-01-12        Food                Chai      15          UPI
9 2023-01-15  Essentials      Salt and Sugar      50          NaN
         Date    Category       Sub-Category   Amount Payment Mode
19 2023-01-23     Grocery      Bread and Milk      56         Cash
20 2023-01-24        Food  Fruits and Veggies     530         Cash
21 2023-01-26        Food                Chai      10          UPI
22 2023-01-26     Grocery               Maggi     140          UPI
23 2023-01-27        Food              Zomato     300          UPI
24 2023-01-27        Food                Chai      10          UPI
25 2023-01-28  Essentials           Bedsheets    1025         Cash
26 2023-01-29       Bills             Mobile     1650          UPI
27 2023-01-29     Grocery                Daal     150         Cash
28 2023-01-30       Bills            Cylinder    1074          UPI
<bound method DataFrame.info of          Date    Category       Sub-Category   Amount Payment Mode
0  2023-01-01     Grocery             Grocery      30         Cash
1  2023-01-02        Food          Restaurant     890          UPI
2  2023-01-04         123              Zomato     257          NaN
3  2023-01-06  Essentials               Diary     120          UPI
4  2023-01-06  Essentials             Perfume    1500         Cash
5  2023-01-09     Grocery  Fruits and Veggies     456         Cash
6  2023-01-10       Bills          House Rent   16000          UPI
7  2023-01-10     Grocery      Tomato KetchUp      70          UPI
8  2023-01-12        Food                Chai      15          UPI
9  2023-01-15  Essentials      Salt and Sugar      50          NaN
10 2023-01-17     Grocery           Chocolate     100          UPI
11 2023-01-17        Food          Restaurant     780         Card
12 2023-01-18  Essentials            Food Oil     120          NaN
13 2023-01-18        Food              Zomato     230          UPI
14 2023-01-19     Grocery                Milk      26          UPI
15 2023-01-20  Essentials             Shampoo     780          UPI
16 2023-01-20  Essentials           Lunch Box     890         Cash
17 2023-01-21     Clothes               Dress    1000          NaN
18 2023-01-22     Clothes               Dress    1890          UPI
19 2023-01-23     Grocery      Bread and Milk      56         Cash
20 2023-01-24        Food  Fruits and Veggies     530         Cash
21 2023-01-26        Food                Chai      10          UPI
22 2023-01-26     Grocery               Maggi     140          UPI
23 2023-01-27        Food              Zomato     300          UPI
24 2023-01-27        Food                Chai      10          UPI
25 2023-01-28  Essentials           Bedsheets    1025         Cash
26 2023-01-29       Bills             Mobile     1650          UPI
27 2023-01-29     Grocery                Daal     150         Cash
28 2023-01-30       Bills            Cylinder    1074          UPI>

In [11]:
data=pd.read_excel("ESD.xlsx")
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EEID           1000 non-null   object
 1   Full Name      1000 non-null   object
 2   Job Title      1000 non-null   object
 3   Department     1000 non-null   object
 4   Business Unit  1000 non-null   object
 5   Gender         1000 non-null   object
 6   Ethnicity      1000 non-null   object
 7   Age            1000 non-null   int64
 8   Hire Date      1000 non-null   datetime64[ns]
 9   Annual Salary  1000 non-null   int64
 10  Bonus %        1000 non-null   float64
 11  Country        1000 non-null   object
 12  City           1000 non-null   object
 13  Exit Date      85 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(9)
memory usage: 109.5+ KB
None

In [12]:
d=data.describe()
print(d)

               Age  Annual Salary      Bonus %
count  1000.000000    1000.000000  1000.000000
mean     44.382000  113217.365000     0.088660
std      11.246981   53545.985644     0.117856
min      25.000000   40063.000000     0.000000
25%      35.000000   71430.250000     0.000000
50%      45.000000   96557.000000     0.000000
75%      54.000000  150782.250000     0.150000
max      65.000000  258498.000000     0.400000

In [13]:
print(data.isnull())

      EEID  Full Name  Job Title  Department  Business Unit  Gender  \
0    False      False      False       False          False   False
1    False      False      False       False          False   False
2    False      False      False       False          False   False
3    False      False      False       False          False   False
4    False      False      False       False          False   False
..     ...        ...        ...         ...            ...     ...
995  False      False      False       False          False   False
996  False      False      False       False          False   False
997  False      False      False       False          False   False
998  False      False      False       False          False   False
999  False      False      False       False          False   False

     Ethnicity    Age  Hire Date  Annual Salary  Bonus %  Country   City  \
0        False  False      False          False    False    False  False
1        False  False      False          False    False    False  False
2        False  False      False          False    False    False  False
3        False  False      False          False    False    False  False
4        False  False      False          False    False    False  False
..         ...    ...        ...            ...      ...      ...    ...
995      False  False      False          False    False    False  False
996      False  False      False          False    False    False  False
997      False  False      False          False    False    False  False
998      False  False      False          False    False    False  False
999      False  False      False          False    False    False  False

     Exit Date
0        False
1         True
2         True
3         True
4         True
..         ...
995       True
996      False
997       True
998       True
999       True

[1000 rows x 14 columns]

In [15]:
print(data.isnull().sum())

EEID               0
Full Name          0
Job Title          0
Department         0
Business Unit      0
Gender             0
Ethnicity          0
Age                0
Hire Date          0
Annual Salary      0
Bonus %            0
Country            0
City               0
Exit Date        915
dtype: int64